body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.content {
    flex-grow: 1; /* Allow content to grow and push footer down */
    margin-bottom: -20px;
}

.locationBox {
    display: flex;
    align-items: center;

}

.locationBox label, .locationBox input, .locationBox button {
    height: 20px; /* Adjust the height as needed */
    margin-right: 10px; /* Optional spacing between elements */
}

.locationBox button {
    background: white;
    outline: black;
    padding: 0;
    cursor: pointer;
    height: 25px;
    margin-bottom: 0px;
    
}

.getCoordinates:hover {
    border-color: #04aa6d;
}

.locationBox button img {
    height: 100%; 
    width: auto; 
}

body form{
    margin-left: 15px;
}
.cusineDiv ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;
}

.cusineDiv li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    position: relative;
}
form .submitButton{
    text-align: center;
}

.intro {
    text-align: center;
    font-size: 20px;
}

.pictures
 img{
    width: 400px;
    height: auto;
    
}
